header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header button {
  color: grey;
  font-weight: bold;
  display: flex;
  font-style: bold;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 1px solid white;
}
header button a {
  text-decoration: none;
  color: gray;
}
header button a:hover {
  color: rgb(2, 103, 255);
}
header button:hover {
  cursor: pointer;
  color: rgb(2, 103, 255);
}
#text-and-button {
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  background-color: rgba(189, 211, 216, 0.5);
  flex-wrap: wrap;
}
#text-and-button button {
  width: 170px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(6, 6, 243, 0.5);
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: white;
}
#text-and-button button:hover {
  cursor: pointer;
}
#text-and-button button span {
  padding-right: 1rem;
}
#text-and-button button a {
  text-decoration: none;
  color: white;
}
.Sorting {
  background-color: rgba(189, 211, 216, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sorting span button i {
  background-color: rgba(189, 211, 216, 0.5);
}
.Sorting h3 button {
  cursor: pointer;
}
#Memberships {
  background-color: rgba(189, 211, 216, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
#Memberships .card {
  background-color: white;
  border: 1px solid rgb(128, 128, 128, 0.5);
  height: 200px;
  width: 500px;
  text-align: center;
  justify-items: stretch;
  display: grid;
}
#Memberships .card h3 {
  margin-bottom: 0;
}
#Memberships .card p {
  margin: 0;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}
#Memberships .card div {
  height: 2px;
  padding: 1rem;
  padding-bottom: 0;
  text-align: end;
}
#Memberships .card div span i {
  padding: 0.5rem;
  background-color: rgb(250, 143, 143, 0.5);
}
#Users {
  display: flex;
  gap: 2rem;
  background-color: rgba(189, 211, 216, 0.5);
}
#Users .users-card {
  justify-content: center;
  text-align: left;
  padding-left: 1rem;
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 150px;
}
#Users .users-card p {
  margin: 0;
}
#Users h4 {
  color: gray;
}
#NewUsers {
  display: grid;
  gap: 0.7rem;
  justify-content: center;
  text-align: right;
  grid-template-columns: repeat(4, 11rem);
  padding: 1rem;
  background-color: rgba(189, 211, 216, 0.5);
}
#NewUsers #name-label {
  grid-column: 1/2;
  grid-row: 1/1;
}
#NewUsers #name {
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  grid-column: 2/3;
  grid-row: 1/1;
}
#NewUsers #surname-label {
  grid-column: 3/4;
  grid-row: 1/1;
}
#NewUsers #surname {
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  grid-column: 4/-1;
  grid-row: 1/1;
}
#NewUsers #email-label {
  grid-column: 1/2;
  grid-row: 2/2;
}
#NewUsers #email {
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  grid-column: 2/3;
  grid-row: 2/2;
}
#NewUsers #Membershipsname-label {
  grid-column: 1/2;
  grid-row: 4/4;
}
#Memberships-name {
  border: 1px solid white;
  border-radius: 5px;
  width: 100px;
}
#NewUsers #Cancel {
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(189, 211, 216, 0.5);
  justify-self: right;
  width: 90px;
  grid-column: 2/3;
  grid-row: 5/5;
}
#NewUsers #submit {
  font-weight: bold;
  color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(6, 6, 243, 0.5);
  background-color: rgb(6, 6, 243, 0.5);
  justify-self: left;
  width: 90px;
  grid-column: 3/4;
  grid-row: 5/5;
}
#NewUsers #submit:hover,
#NewUsers #Cancel:hover {
  cursor: pointer;
  color: rgb(6, 6, 243, 0.5);
}
#NewUsers label {
  font-weight: bold;
}
#NewMemberships {
  background-color: rgba(189, 211, 216, 0.5);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: right;
  justify-content: center;
  padding: 1rem;
}
#NewMemberships label {
  font-weight: bold;
}
#NewMemberships #name-label {
  grid-column: 1/2;
  grid-row: 1/1;
}
#NewMemberships #name {
  border: 1px solid white;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 1/1;
}
#NewMemberships #Membership-label {
  grid-column: 1/2;
  grid-row: 2/2;
}
#NewMemberships #price {
  border: 1px solid white;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 2/2;
}
#NewMemberships #Description-label {
  grid-column: 1/2;
  grid-row: 3/3;
}
#NewMemberships #description {
  border: 1px solid white;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 3/3;
}
#NewMemberships #Cancel {
  grid-column: 1/2;
  grid-row: 5/5;
  font-weight: bold;
  background-color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(189, 211, 216, 0.5);
  justify-self: right;
}
#NewMemberships #submit {
  grid-column: 2/3;
  grid-row: 5/5;
  font-weight: bold;
  color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(6, 6, 243, 0.5);
  background-color: rgb(6, 6, 243, 0.5);
  justify-self: left;
}
#NewMemberships #submit:hover,
#NewMemberships #Cancel:hover {
  cursor: pointer;
  color: rgb(6, 6, 243, 0.5);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(189, 211, 216, 0.5);
}
